.about {
    margin: 0% 10% 5% 10%;
    background-color: rgba(79, 86, 97, 0.7);
    padding: 5%;
    border-radius: 2%;
    opacity: 0.95;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}



p {
    text-align: left;

}
.presentation {
  margin-top: 5%;
  float:right;
}

.img_presentation{
    float:right;
    margin-top: 2%;

}

.white-text {
    color: white;
}

.myphoto-image {
    border-radius: 40%;
    width: 60%;
    filter: opacity(90%);
}


@media (min-width: 992px) {
p {
    font-size: 150%;
}


.myphoto-image {
    width: 90%;
}


}


@media (max-width: 992px) {

    .myphoto-image {
        width: 120%;
    }
    .about {
        min-width: 80%;
        margin: 5%;
    }

}




@media (max-width: 360px){
    .myphoto-image {
        width: 180%;
    }
}


