.contact {
    margin: 10% 10%;
    padding: 5%;
    background-color: rgba(228, 216, 220, 0.8);
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 80%;
}



.contact-container {
    text-align: left;
}

h1 {
    margin-bottom: 10%;
}

h6 {
    color: #393E46;
    font-style: italic;
    font-weight:bold;
   
}
h3{
    text-decoration: none;
}
.whatsappLink.mobile{
    display: none;
   
  }
  @media(max-width:992px){
      .contact{
        margin:5% ;
        width: 90%;
      }
    .whatsappLink.desktop {
      display: none;
      
    }
    h6 {
        font-weight: normal;
    }
    .whatsappLink.mobile{
      display: inline;
    
    }
  }
  .contact-text {
      text-align: left;
  }

  .computer-image {
      width: 80%;
      border-radius: 10px;
      margin-top: 2%;
      opacity: 0.9;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  @media (max-width: 992px) {

    .computer-image  {
        display: none;
    }
    
}

@media (max-width: 360px){
    .computer-image  {
        display: none;
    }
}


.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
    background-color: #4f5661;
    padding: 10%;
    border-radius: 2%;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

.form-group {
    margin-top: 2%;
}

.sub-contact-btn {
    margin-top: 2%;
    
}

