

.home {
  text-align: center;
  width: 60%;
  margin:5% 20%;
  padding: 5%;
  color: #393E46;
  background-color: rgba(253, 253, 253, 0.8);
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  
    color: #00ADB5;
}


@media (max-width: 992px) {
.home{
    margin-top: 20%;
}
.main-title{
  margin-bottom: 15%;
}
.home-subtitle{
    font-size: 100%;
}

    
}

.icon-socialmedia {
    font-size: 24px;
    color: #393E46;
    line-height: 1;
    margin-right: 20px;
    transition: 0.5s;
}

.icon-socialmedia :hover {
    color: #00ADB5;
  }

  
 .home-subtitle {
     font-size: 140%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .main-title {
    position: relative;
    font-family: 'Rampart One', cursive;    text-transform: uppercase;
    letter-spacing: 15px;
    color: #0e3742;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 1em;
    outline: none;
    animation: text 3s linear infinite;
   font-weight: 600;
  }
  ::selection {
    color: currentColor;
    background-color: #03bcf422;
  }
  @keyframes text {
    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
      color: #00ADB5;
      text-shadow: 0 0 5px #00ADB5;
    }
   
    80.1%,
    90%,
    92.1%,
    100% {
      color: #dffafc;
      text-shadow: 0 0 10px #fddc9dee, 0 0 20px #fddc9dee, 0 0 40px #fddc9dee,
        0 0 80px #fddc9dee, 0 0 160px #fddc9dee;
    }
  }