.portfolio {
    margin: 0% 10% 0% 10% ;
    background-color: #4f5661;
    padding: 2% 5% 5% 5%;
    border-radius: 2%;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-group{
    margin-top: 5%;
}




.project-card {
    margin-top: 5px;
    height: 100%;
    font-size: 80%;
}

@media (max-width: 992px) {

    .portfolio {
        min-width: 80%;
        margin: 5%;
    }
    .card-cont {
        margin-top: 5%;
        height: 100%;
        font-size: 80%;
    }
    

}


